<style>
    .text_SEO {
    margin: 3em 0 3em 0;
}
.text_SEO p {
    text-align: center;
}
</style>
<section class="section_2">
    <div class="text_SEO">
        <h2 class="SEO_title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus voluptatem
            expedita unde!</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus perferendis nobis saepe fugiat.
            Necessitatibus itaque accusantium molestiae maxime alias eveniet labore quo soluta aliquam, animi libero
            fuga praesentium nobis placeat.</p>
    </div>
</section>