<style>
    .container-text-with-carrousel {
    background: #1C1C1C;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    margin-bottom: 3em;
}
.container-text-with-carrousel h3 {
    font-family: 'Sofia Pro Light';
    text-transform: uppercase;
    font-size: 22px;
    text-align: left;
}
.container-text-with-carrousel .cta_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-text-with-carrousel .cta_container {
    padding: 10px 0;
    margin: inherit;
}
@media (min-width: 769px){
    .main-carrousel-produit-hide-reverse2 {
        display: flex;
        justify-content: center;
    }
    .carrousel-produit-hide-reverse2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 1024px;
    }
}
/* FIN BLOC */
/*PRODUIT*/
.global {
    max-width: 1024px;
    margin: 0 auto;
    font-family: "Sofia Pro Regular", sans-serif;
    font-weight: 100;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.global h1 {
    font-family: "Sofia Pro Bold", sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: #8e746a;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 0 0;
}
.global h2 {
    font-family: "Sofia Pro Bold", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.global h3 {
    font-family: "Sofia Pro Bold", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #ecb46c;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.global h4 {
    font-family: "Sofia Pro Bold", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #8064db;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 10px;
}
.global h5 {
    font-family: "Sofia Pro Bold", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 10px;
}
.global .sous-titre {
    font-family: "Sofia Pro Regular", sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    color: #8e746a;
    text-align: left;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 0 10px 0;
}
.global p {
    font-family: "Sofia Pro Regular", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
}
.trait-rose {
    width: 100px;
    height: 2px;
    background-color: #8e746a;
    margin: 10px 0;
}
.trait-noir {
    width: 100px;
    height: 2px;
    background-color: #000000;
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
    margin-bottom: 15px;

}
.souligne-orange {
    box-shadow: inset 0 -22px 0 0 #f5cca4;
}
.souligne-rose {
    box-shadow: inset 0 -22px 0 0 #e1b5af;
}
.souligne-violet-titre {
    box-shadow: inset 0 -22px 0 0 #eae4fc;
}
.souligne-violet-txt {
    font-family: "Sofia Pro Bold", sans-serif;
    font-weight: 800;
    color: #8064db;
    box-shadow: inset 0 -20px 0 0 #eae4fc;
}
.bold {
font-family: "Sofia Pro Bold", sans-serif;
}
.bold-violet {
font-family: "Sofia Pro Bold", sans-serif;
    color: #8064db;
}
    
    .spacer
    {
width: 100%;
        height: 20px;
}
.CTA {
    color: #000000;
    background: #ffffff;
    border: 2px solid #000000;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    font-size: 13px;
    letter-spacing: 1px;
}
.CTA:hover {
    color: #000000;
    background: #ffffff;
    border: 2px solid #000000;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    font-size: 13px;
    letter-spacing: 1px;
}
.CTA-orange {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}
.CTA-orange a {
    color: #000000;
    background-color: #f5cca4;
    border: none;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 1px;
}
.CTA-orange a:hover {
    color: #000000;
    background-color: #f5cca4;
    border: none;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 1px;
}
.CTA-violet {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}
.CTA-violet a {
    color: #000000;
    background-color: #eae4fc;
    border: none;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 1px;
}
.CTA-violet a:hover {
    color: #000000;
    background-color: #eae4fc;
    border: none;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 1px;
}
.CTA-rose {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}
.CTA-rose a {
    color: #000000;
    background-color: #e1b5af;
    border: none;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 1px;
}
.CTA-rose a:hover {
    color: #000000;
    background-color: #e1b5af;
    border: none;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 1px;
}
.tag-violet {
    width: 100%;
    max-width: 200px;
    display: block;
    background-color: #eae4fc;
    color: #8064db;
    text-align: center;
    font-family: "Sofia Pro Bold", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}
.tag-none {
    width: 100%;
    display: block;
    height: 30px;
    color: transparent;
}
/*** BLOC HEADER ***/
    
.header-blog {
    width: 100%;
    background-color: #fcf4ec;
    max-width: 984px;
    height: auto;
    background-image: url(https://via.placeholder.com/630x300.png);
    background-repeat: no-repeat;
    border: solid 20px #fcf4ec;
}
.header-blog-txt {
    width: 50%;
    position: relative;
    left: 50%;
}
/*** BLOC EDITO TEXTE + IMAGE ***/
    
    
.edito-duo {
    width: 100%;
}
.edito-duo-texte {
    width: 50%;
    text-align: left;
    display: block;
    float: left;
    padding: 40px;
    box-sizing: border-box
}
.edito-duo-img {
    width: 40%;
    display: block;
    float: right
}
.edito-duo-img img {
    width: 100%;
}
.edito-duo h2 {
    text-align: left;
}
.edito-duo p {
    text-align: left;
}
.edito-duo .trait-noir {
    width: 100px;
    height: 2px;
    background-color: #000000;
    text-align: left;
}
/*** CARROUSEL PRODUITS  ***/
     
.wrap-cadre {
    width: 100%;
    overflow-x : hidden;
    overflow-y : hidden;
    position: relative;
    height: 415px;
}
.cadre-produits {
    width: 100%;
    /*position:absolute;*/
    overflow: visible;
    display: flex;
    z-index: 9998;/*top:0px;
    left:0px;*/
}
.produit-sngl {
    width: 50%;
    position: relative;
    padding: 0 10px;
}
.produit-sngl {
    color: #000000;
    text-decoration: none;
    text-align: center;
}
.produit-sngl a:first-child {
    border: none;
}
.produit-sngl img {
    width: 100%;
    height: auto;
    max-width: 200px;
}
/*** BLOC PRODUITS FOND ORANGE ***/
.produit-orange {
    background-color: #fcf4ec;
    clear: both;
    padding: 20px 60px;
}
/*** BLOC PRODUITS FOND BLANC ***/
.produit-blanc {
    background-color: #ffffff;
    clear: both;
    padding: 20px 60px;
}
/*** BLOC PRODUITS FOND ROSE ***/
.produit-rose {
    background-color: #f3ebe9;
    clear: both;
    padding: 20px 60px;
}
.produit-orange p{
    padding: 0px 10px;
}
/*** BLOC PRODUITS FOND BLANC ***/
.produit-blanc p{
    padding: 0px 10px;
}
.produit-blanc p{
    padding: 0px 10px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
}
.produit-blanc h5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
}
/*** BLOC PRODUITS FOND ROSE ***/
.produit-rose p{
    padding: 0px 10px;
}
@media screen and (max-width:500px) {
/*** BLOC HEADER ***/
    
.header-blog {
    width: 100%;
    height: auto;
    background-image: url(https://via.placeholder.com/500x300.png);
    background-repeat: no-repeat;
    background-position: top 130px left 0;
    border: none;
}
.header-blog-txt {
    width: 100%;
    left: 0;
}
.header-blog-txt h1 {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}
.header-blog-txt .trait-rose {
    visibility: hidden;
}
.header-blog-txt .sous-titre {
    text-align: center;
    padding: 300px 10px 10px 10px;
    margin: 0 auto;
}
/*** BLOC EDITO TEXTE + IMAGE ***/
    
    
.edito-duo {
    width: 100%;
}
.edito-duo-texte {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
.edito-duo-img {
    width: 100%;
}
.edito-duo-img img {
    width: 100%;
}
.edito-duo h2 {
    text-align: center;
    margin: 0 auto;
}
.edito-duo p {
    text-align: center;
    margin: 0 auto;
}
.edito-duo .trait-noir {
    text-align: center;
    margin: 20px;
}
/*** CARROUSEL PRODUITS**/
    
.wrap-cadre {
    height: 340px;
    overflow-x : scroll;
    overflow-y : hidden;
    margin-top: 0px;
}
.cadre-produits {
    width: 150%;
}
.produit-sngl {
    width: 35%;
    position: relative;
}
.produit-sngl img {
    width: 100%;
}
/*** BLOC PRODUITS FOND ORANGE ***/
.produit-orange {
    padding: 10px 0;
}
/*** BLOC PRODUITS FOND BLANC ***/
.produit-blanc {

    padding: 10px 0;
}
/*** BLOC PRODUITS FOND ROSE ***/
.produit-rose {

    padding: 10px 0;
}
}
@media (min-width: 768px){
    .produit-blanc p{
        padding: 0px 10px;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 1em;
        text-transform: uppercase;
        font-weight: 100;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        text-align: center;
    }
    .produit-blanc h5{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-align: center;
    }
    .cadre-produits {
        width: 190%;
        /* position: absolute; */
        /* overflow: visible; */
        display: flex;
        z-index: 9998;
    }
    .wrap-cadre {
        width: 100%;
        overflow-x: scroll;
        /* overflow-y: hidden; */
        position: relative;
        height: 415px;
    }
    .produit-blanc {
        background-color: #ffffff;
        clear: both;
        padding: 5px 10px;
    }
}


</style>
<section>
    <div class="title_h2">
        <h2 class="h2_title">Bloc text with background and <br><span class="highlight">carrousel product</span></h2>
    </div>
    <div class="main-carrousel-produit-hide-reverse2">
        <div class="carrousel-produit-hide-reverse2" id="carrousel-produit-hide2">
            <div class="carrousel-produit-hide-reverse2">
                <div class="produit-blanc">
                    <section class="wrap-cadre">
                        <div class="cadre-produits"> 
                            <div class="produit-sngl">
                                <a href="#" title="DARPHIN Crème Réparatrice Anti-rougeurs"> 
                                    <img src="https://media.marionnaud.fr/medias/zoom-front-BP-102903219-380x380?context=bWFzdGVyfHByZC1pbWFnZXN8MTY1Nzl8aW1hZ2UvanBlZ3xhR1JtTDJnMFl5OHhNRFU1TnpJMU5qSTJOVGMxT0M5NmIyOXRMV1p5YjI1MExVSlFYekV3TWprd016SXhPVjh6T0RCNE16Z3d8MDY3MTVhMzQ0NmUxNTU1MDIzYThlMzk2NTQ2NTg4ZDk5MDUyZWNjY2RjMjVlY2YwN2IwN2Y5NWJmNmRiZTBiZA" alt="DARPHIN - Crème Réparatrice Anti-rougeurs">
                                    <span class="tag-none"> nouveauté</span>
                                    <h4>LANCÔME</h4>
                                    <h5>ABSOLUE - CREME ANTI-AGE</h5>
                                    <p>Absolue Crème Fondante Régénérante Illuminatrice</p>
                                </a>
                                <a href="#" alt="marionnaud" class="CTA">JE CRAQUE</a> 
                            </div>
    
                            <div class="produit-sngl">
                                <a href="#" title="LANCÔME - ABSOLUE - CREME ANTI-AGE - Soin Regard Revitalisant aux Grands Extraits de Rose"> 
                                    <img src="https://media.marionnaud.fr/medias/zoom-front-BP-102903219-380x380?context=bWFzdGVyfHByZC1pbWFnZXN8MTY1Nzl8aW1hZ2UvanBlZ3xhR1JtTDJnMFl5OHhNRFU1TnpJMU5qSTJOVGMxT0M5NmIyOXRMV1p5YjI1MExVSlFYekV3TWprd016SXhPVjh6T0RCNE16Z3d8MDY3MTVhMzQ0NmUxNTU1MDIzYThlMzk2NTQ2NTg4ZDk5MDUyZWNjY2RjMjVlY2YwN2IwN2Y5NWJmNmRiZTBiZA" alt="LANCÔME - ABSOLUE - CREME ANTI-AGE - Soin Regard Revitalisant aux Grands Extraits de Rose">
                                    <span class="tag-none"> nouveauté</span>
                                    <h4>LANCÔME</h4>
                                    <h5>ABSOLUE</h5>
                                    <p>Soin Regard Revitalisant aux Grands Extraits de Rose</p>
                                </a>
                                <a href="#" alt="marionnaud" class="CTA">JE CRAQUE</a> 
                            </div>
    
                            <div class="produit-sngl">
                                <a href="#" title="LANCÔME - ABSOLUE - Le Sérum Concentré Intensif"> 
                                    <img src="https://media.marionnaud.fr/medias/zoom-front-BP-102903219-380x380?context=bWFzdGVyfHByZC1pbWFnZXN8MTY1Nzl8aW1hZ2UvanBlZ3xhR1JtTDJnMFl5OHhNRFU1TnpJMU5qSTJOVGMxT0M5NmIyOXRMV1p5YjI1MExVSlFYekV3TWprd016SXhPVjh6T0RCNE16Z3d8MDY3MTVhMzQ0NmUxNTU1MDIzYThlMzk2NTQ2NTg4ZDk5MDUyZWNjY2RjMjVlY2YwN2IwN2Y5NWJmNmRiZTBiZA" alt="LANCÔME - ABSOLUE - Le Sérum Concentré Intensif">
                                    <span class="tag-none"> nouveauté</span>
                                    <h4>LANCÔME</h4>
                                    <h5>ABSOLUE</h5>
                                    <p>Le Sérum Concentré Intensif</p>
                                </a>
                                <a href="#" alt="marionnaud" class="CTA">JE CRAQUE</a> 
                            </div>
    
                            <div class="produit-sngl">
                                <a href="#" title="GUERLAIN - ORCHIDÉE IMPÉRIALE - Le Masque"> 
                                    <img src="https://media.marionnaud.fr/medias/zoom-front-BP-102903219-380x380?context=bWFzdGVyfHByZC1pbWFnZXN8MTY1Nzl8aW1hZ2UvanBlZ3xhR1JtTDJnMFl5OHhNRFU1TnpJMU5qSTJOVGMxT0M5NmIyOXRMV1p5YjI1MExVSlFYekV3TWprd016SXhPVjh6T0RCNE16Z3d8MDY3MTVhMzQ0NmUxNTU1MDIzYThlMzk2NTQ2NTg4ZDk5MDUyZWNjY2RjMjVlY2YwN2IwN2Y5NWJmNmRiZTBiZA" alt="GUERLAIN - ORCHIDÉE IMPÉRIALE - Le Masque">
                                    <span class="tag-none"> nouveauté</span>
                                    <h4>LANCÔME</h4>
                                    <h5>ABSOLUE</h5>
                                    <p>Démaquillant huile-en-gel nourrissant illuminateur aux grands extraits de rose</p>
                                </a>
                                <a href="#" alt="marionnaud" class="CTA">JE CRAQUE</a> 
                            </div>
                        </div>
                    </section>
                </div>
            </div>
    
            <div class="container-text-with-carrousel">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                <p>Lorem ipsum dolor sit amet <em>consectetur</em> adipisicing elit. Voluptate beatae doloribus, <strong>officia aliquam odit</strong> unde cupiditate veritatis delectus exercitationem deleniti quo iusto autem. Consequuntur? Harum, repudiandae! Reprehenderit quis laboriosam facere.</p>
                <a href="#">
                    <div class="cta_container">
                        <div class="cta_black_alternatif">Découvrir les produits</div>
                    </div>
                    <div id="lamer"></div>
                </a>
            </div>
        </div>
    </div>
</section>