<style>
    .credits {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }
    .credits p {
        color: #000;
        font-family: "Sofia Pro Regular";
        font-style: italic;
        font-size: 15px;
        text-decoration: none;
}
</style>
<div class="credits">
    <p id="p_credits">
        Fore more details, please visit our <span class="underline"> <a href="https://www.marionnaud.fr/donnees-personnelles" target="_blank">Privacy Policy</a> </span> and <span class="underline">  <a href="https://www.marionnaud.fr/mentions-legales" target="_blank">Terms & Conditions</a></span>
    </p>
</div>