<style>
    .blocx4_row_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.img_container_bloc_8_col1 {
    margin-right: 1em;
}
.container_label {
    display: flex;
    justify-content: center;
}
.txt_on_image_sm {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 1em;
    margin-top: -5.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    height: 4em;
    text-transform: uppercase;
    width: 12em;
}
.blocx4_row_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}
@media (min-width: 769px){
    .blocx4_container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 1024px;
    }
    .blocx4_row_2 {
        margin-top: 0em;
        width: 100%;
    }
}
</style>
<section class="section_2">
    <h2 class="h2_title">Carrousel BloxN : Lorem ipsum dolor sit amet,<br><span class="highlight"> consectetur adipi
        </span></h2>
    <hr class="hr_mobile">
    <hr class="hr_desktop">
    <div class="small_descr">
        <p>Lorem ipsum dolor.</p>
    </div>
    <div class="blocx4_container">
        <div class="blocx4_row_1">
            <div class="img_container_bloc_8_col1">
                <img src="https://placehold.co/165x240/png" alt="" class="img_content_bloc_8_col1">
                <div class="container_label">
                    <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                        <!-- Row 1 -->
                        <div></div>
                        <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                        <!-- Row 3 -->
                        <div class="container_arrow_right">
                            <div class="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img_container_bloc_8_col1">
                <img src="https://placehold.co/165x240/png" alt="" class="img_content_bloc_8_col1">
                <div class="container_label">
                    <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                        <!-- Row 1 -->
                        <div></div>
                        <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                        <!-- Row 3 -->
                        <div class="container_arrow_right">
                            <div class="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blocx4_row_2">
            <div class="img_container_bloc_8_col1">
                <img src="https://placehold.co/165x240/png" alt="" class="img_content_bloc_8_col1">
                <div class="container_label">
                    <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                        <!-- Row 1 -->
                        <div></div>
                        <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                        <!-- Row 3 -->
                        <div class="container_arrow_right">
                            <div class="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img_container_bloc_8_col1">
                <img src="https://placehold.co/165x240/png" alt="" class="img_content_bloc_8_col1">
                <div class="container_label">
                    <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                        <!-- Row 1 -->
                        <div></div>
                        <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                        <!-- Row 3 -->
                        <div class="container_arrow_right">
                            <div class="arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>