<style>
    .banner_brand_gift_mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FAFAFA;
    padding: 1em;
}
.banner_brand_gift_desktop{
    display: none;
}
.content_banner_brand_gift {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.subtitle_description_banner_brand_gift {
    font-family: 'Sofia Pro Light';
    font-size: 12px;
}
.container_logo_banner_brand_gift {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_brand_gift_content_img {
    width: 100%;
}
@media (min-width:769px){
    .container_banner_brand_gift {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3em;
        background-color: #FAFAFA;
    }
    .banner_brand_gift_container_img, 
    .description_banner_brand_gift, 
    .container_logo_banner_brand_gift {
        padding: 1em;
    }
    .banner_brand_gift_container_img, 
    .description_banner_brand_gift, 
    .container_logo_banner_brand_gift {
        padding: 1em;
    }
    .description_banner_brand_gift {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .banner_brand_gift_mobile{
        display: none;
    }
}
</style>
<section class="banner_brand_gift">
    <div class="title_h2">
        <h2 class="h2_title">Bloc banner <span class="highlight">brand gift</span></h2>
    </div>
    <div class="container_banner_brand_gift banner_brand_gift_mobile">
        <div class="content_banner_brand_gift">
            <!-- <div class="banner_brand_gift_container_img">
                <img src="https://placehold.co/25X25/png" class="banner_brand_gift_content_img" alt="Picto Gift">
                <img src="/medias/PDP.png?context=bWFzdGVyfHJvb3R8OTM3fGltYWdlL3BuZ3xoZjYvaGJkLzEyMTQ1OTExOTU1NDg2LnBuZ3xkMTdhNTQ0YzFhZjc1ZTg2OTQ1ODFmNzMzNWYyZmI3NTUwMTZiMjY0NmM4Mjk3OTE1YzQ2MDEzMzJlNDU2ODQx" alt="Picto gift" class="banner_brand_gift_content_img">
            </div> -->
            <div class="description_banner_brand_gift">
                <p><strong>Vos essentiels beauté offerts*</strong> dès 80€ d'achat dans la marque, dès 80€ d'achat dans
                    la marque.</p>
            </div>
            <div class="container_logo_banner_brand_gift">
                <img src="https://placehold.co/100x100/png" alt="Image Produit" class="content_logo_banner_brand_gift">
            </div>
        </div>
        <div class="container_description_banner_brand_gift">
            <p class="subtitle_description_banner_brand_gift">*Offre valable dans la limite des stocks disponibles.
                Visuel non contractuel. Valable avec votre carte fidélité ou pour toute souscription.</p>
        </div>
    </div>

    <div class="container_banner_brand_gift banner_brand_gift_desktop">
        <div class="banner_brand_gift_container_img">
            <img src="https://placehold.co/150x150/png" alt="Image Produit" class="banner_brand_gift_content_img">
        </div>
        <div class="description_banner_brand_gift">
            <p><strong>Vos essentiels beauté offerts*</strong> dès 80€ d'achat dans la marque, dès 80€ d'achat dans la
                marque.</p>
            <p class="subtitle_description_banner_brand_gift">*Offre valable dans la limite des stocks disponibles.
                Visuel non contractuel. Valable avec votre carte fidélité ou pour toute souscription.</p>
        </div>
        <div class="container_logo_banner_brand_gift">
            <img src="https://placehold.co/228x60/png" alt="Logo Marque" class="content_logo_banner_brand_gift">
        </div>
    </div>
</section>