<style>
    .container_carrousel_video img {
        width: inherit;
    }
    /* .mini_carrousel_video {
        margin: 50px 0 0 0;
        background-color: #FBFAFF;
        padding: 15px;
    } */
    .container_bloc_carrousel_video {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        overflow-x: scroll;
        margin-top: 30px;
        padding: 0px;
    }
    .container_carrousel_video {
        margin: 0 20px 0 0;
    }
    .txt_car_vid {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: 0px;
        background: transparent;
    }
    .mini-title_v2 {
        text-align: left;
        color: #8064DB;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
        margin: 5px 0px 0px;
    }
    .small_p_v2 {
        font-family: 'Sofia Pro Light';
        text-align: left;
        margin: 0px 0px 0px;
        font-size: 13px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    @media (min-width: 769px){
        /* .mini_carrousel_video {
            margin: 50px 0 0 0;
            background-color: #FBFAFF;
            padding: 15px;
        } */
        .container_bloc_carrousel_video {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            overflow-x: scroll;
            margin-top: 30px;
            padding: 15px;
        }
        .container_carrousel_video {
            margin: 0 20px 0 0;
        }
    }
    </style>
<section class="section_mini_carrousel_video">
    <div class="mini_carrousel_video">
        <div class="title_h2">
            <h2 class="h2_title">Bloc Carrousel image/video : <span class="highlight">Lorem ipsum dolor</span></h2>
        </div>
        <div class="container_bloc_carrousel_video">
            <div class="container_carrousel_video">
                <img src="https://placehold.co/275x200/png" alt="Default Video" class="content_carrousel_video">
                <div class="txt_car_vid">
                    <span class="mini-title_v2">Lorem ipsum</span>
                    <span class="small_p_v2">Lorem ipsum</span>
                </div>
            </div>
            <div class="container_carrousel_video">
                <img src="https://placehold.co/275x200/png" alt="Default Video" class="content_carrousel_video">
                <div class="txt_car_vid">
                    <span class="mini-title_v2">Lorem ipsum</span>
                    <span class="small_p_v2">Lorem ipsum</span>
                </div>
            </div>
            <div class="container_carrousel_video">
                <img src="https://placehold.co/275x200/png" alt="Default Video" class="content_carrousel_video">
                <div class="txt_car_vid">
                    <span class="mini-title_v2">Lorem ipsum</span>
                    <span class="small_p_v2">Lorem ipsum</span>
                </div>
            </div>
            <div class="container_carrousel_video">
                <img src="https://placehold.co/275x200/png" alt="Default Video" class="content_carrousel_video">
                <div class="txt_car_vid">
                    <span class="mini-title_v2">Lorem ipsum</span>
                    <span class="small_p_v2">Lorem ipsum</span>
                </div>
            </div>
            <div class="container_carrousel_video">
                <img src="https://placehold.co/275x200/png" alt="Default Video" class="content_carrousel_video">
                <div class="txt_car_vid">
                    <span class="mini-title_v2">Lorem ipsum</span>
                    <span class="small_p_v2">Lorem ipsum</span>
                </div>
            </div>
        </div>
    </div>
</section>