<style>
    .bloc_7 {
    margin-bottom: 4em;
}
.bloc_7_mobile {
    display: block;
}
.img_blocx3 img {
    width: inherit;
}
.needs_row1 {
    display: flex;
    justify-content: center;
}
.bloc_x3_row2 {
    display: flex;
    justify-content: center;
}
.img_container_bloc_x3_row2_col1 .img_content_needs_row2_col1 {
    margin-right: 20px;
}
.img_content_needs_row2_col1 {
    margin-left: 5px;
}
.bloc_7_desktop {
    display: none;
}
@media (min-width:769px){
    .bloc_7_desktop {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .bloc_7_mobile {
        display: none;
    }
    .img_gallery_left {
        margin-right: 2%;
    }
    .img_gallery_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .h2_title {
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 0;
    }
}
</style>
<section class="section_bloc_x3">
    <div class="bloc_7">
        <div class="bloc_7_mobile">
            <h2 class="h2_title">Blocx3 : Lorem ipsum dolor sit amet, <br><span class="highlight">consectetur
                    adipi</span></h2>
            <hr class="hr_mobile">
            <hr class="hr_desktop">
            <div class="img_blocx3">
                <div class="needs_row1">
                    <a href="#">
                        <div class="img_container_needs_row1">
                            <img src="https://placehold.co/350x225/png" alt="Default Image"
                                class="img_content_needs_row1">
                            <div class="container_label">
                                <div class="txt_on_image_sm" style="width: 20em;">
                                    <!--Row 1 -->
                                    <div></div>
                                    <!--Row 2 -->Lorem ipsum
                                    <!--Row 3 -->
                                    <div class="container_arrow_right">
                                        <div class="arrow-right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bloc_x3_row2">
                    <a href="#">
                        <div class="img_container_bloc_x3_row2_col1">
                            <img src="https://placehold.co/165x240/png" alt="Default Image"
                                class="img_content_needs_row2_col1">
                            <div class="container_label">
                                <div class="txt_on_image_sm" style="margin-left: -1.5em;">
                                    <!--Row 1 -->
                                    <div></div>
                                    <!--Row 2 -->Lorem ipsum
                                    <!--Row 3 -->
                                    <div class="container_arrow_right">
                                        <div class="arrow-right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="img_container_bloc_x3_row2_col2">
                            <img src="https://placehold.co/165x240/png" alt="Default Image"
                                class="img_content_needs_row2_col2">
                            <div class="container_label">
                                <div class="txt_on_image_sm" style="margin-left: 0em;">
                                    <!--Row 1 -->
                                    <div></div>
                                    <!--Row 2 -->Lorem ipsum
                                    <!--Row 3 -->
                                    <div class="container_arrow_right">
                                        <div class="arrow-right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="bloc_7_desktop">
            <div class="img_gallery_left">
                <a href="#">
                    <div class="img_container_gallery_left">
                        <img src="https://placehold.co/492x870/png" alt="Default Image" class="img_content_gallery_left">
                        <div class="container_label">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 -->
                            <div class="txt_on_image">Lorem ipsum
                                <!-- Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="img_gallery_right">
                <div class="title_h2">
                    <h2 class="h2_title" style="text-align: left;">Blocx3 : Lorem ipsum dolor, <br><span
                            class="highlight">consectetur adipi</span></h2>
                </div>
                <!-- <hr class="hr_desktop-v2"> -->
                <a href="#">
                    <div class="img_container_gallery_right1">
                        <img src="https://placehold.co/491x360/png" alt="Default Image" class="img_content_gallery_right1">
                        <div class="container_label">
                            <div class="txt_on_image">
                                <!--Row 1 -->
                                <div></div>
                                <!--Row 2 -->Lorem ipsum
                                <!--Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="img_container_gallery_right1">
                        <img src="https://placehold.co/491x360/png" alt="Default Image" class="img_content_gallery_right1">
                        <div class="container_label">
                            <div class="txt_on_image">
                                <!--Row 1 -->
                                <div></div>
                                <!--Row 2 -->Lorem ipsum
                                <!--Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>