<style>
    .logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 2em;
}
.container_logo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.img_content_logo {
    width: 7em;
    margin: 10px;
    border-radius: 50%;
}
@media (min-width:769px){
    .container_small_descr_bloc_9 {
        display: flex;
        justify-content: center;
    }
    .container_small_descr_bloc_9 .p_bloc_9 {
        width: 55%;
    }
    .small_descr p {
        font-size: 20px;
    }
    .container_logo{
        width: inherit;
    }
    .logos {
        overflow-x: hidden;
        width: inherit;
        justify-content: center;
        gap: 15px;
    }
    img.img_content_logo {
        width: 5em;
        margin: 0;
    }
}
</style>
<section class="section_9">
    <div class="bloc_9">
        <h2 class="h2_title">Icon Bottom Page<br class="br_">dolor sit amet consectetur <span
                class="highlight">zefbzeozf.</span></h2>
        <div class="small_descr container_small_descr_bloc_9">
            <p class="p_bloc_9">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <hr class="mobile">
        <hr class="desktop">
        <a class="links" href="#">
            <div class="logos">
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
                <div class="container_logo">
                    <img src="https://placehold.co/100x100/png"
                        alt="Default Icon" class="img_content_logo">
                </div>
            </div>
        </a>
    </div>
</section>