<style>
    .bloc_blocx5 {
    margin: 0 0 4em 0;
}
.all_needs_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.all_needs_desktop {
    display: none;
}
.needs_row1_blocx5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.img_content_needs_row1_col1_blocx5 {
    margin-right: 10px;
}
.txt_on_image_sm_tmp {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 0em;
    margin-top: -5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    height: 4em;
    text-transform: uppercase;
    width: 12em;
}
.needs_row2_blocx5 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.needs_row2_col1_blocx5 {
    width: 45%;
}
.needs_row2_col1_blocx5 {
    display: flex;
    align-items: center;
}
.img_container_needs_row1_blocx5_col1, 
.img_container_needs_row1_blocx5_col2 {
    margin-bottom: 5%;
    margin-top: 5%;
}
.img_content_needs_row1_blocx5_col1 {
    margin-right: 10px;
}
.txt_on_image_sm_mobile {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 0em;
    margin-top: -5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    height: 4em;
    text-transform: uppercase;
    width: 12em;
}
@media (min-width: 769px){
    .all_needs_desktop {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
    .all_needs_mobile {
        display: none;
    }
    .all_needs_col_1 {
        margin-right: 2%;
    }
    .all_needs_col_2_row_2_container {
        margin-top: 5%;
    }
    .all_needs_col_3 {
        margin-left: 2%;
    }
    .all_needs_col_2_row_2_container {
        margin-top: 5%;
    }
    .txt_on_image {
        position: absolute;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-left: 1em;
        margin-top: -5.5em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: white;
        height: 4em;
        text-transform: uppercase;
        width: 20em;
    }
    .adjust {
        padding-left: 3em;
    }
}
</style>
<section class="section_blocx5">
    <div class="bloc_blocx5">
        <h2 class="h2_title">Blocx5 : Lorem ipsum dolor sit amet,<br class="br_"><span class="highlight"> consectetur
                adipi </span></h2>
        <hr class="mobile">
        <hr class="desktop" style="size: 10px;">
        <div class="all_needs_mobile">
            <div class="needs_row1_blocx5">
                <a href="#">
                    <div class="img_container_needs_row1_blocx5">
                        <img src="https://placehold.co/162x180/png" alt=""
                            class="img_content_needs_row1_col1_blocx5">
                        <div class="container_label">
                            <div class="txt_on_image_sm_mobile">
                                <!--Row 1 -->
                                <div></div>
                                <!--Row 2 -->Lorem ipsum
                                <!--Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="img_container_needs_row1_blocx5">
                        <img src="https://placehold.co/162x180/png" alt=""
                            class="img_content_needs_row1_col2_blocx5">
                        <div class="container_label">
                            <div class="txt_on_image_sm_mobile">
                                <!--Row 1 -->
                                <div></div>
                                <!--Row 2 -->Lorem ipsum
                                <!--Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="needs_row2_blocx5">
                <div class="needs_row2_col1_blocx5">
                    <a href="#">
                        <div class="img_container_needs_row1_blocx5_col1">
                            <img src="https://placehold.co/162x180/png" alt=""
                                class="img_content_needs_row1_blocx5_col1">
                            <div class="container_label">
                                <div class="txt_on_image_sm_mobile" style="margin-right: 1.5em;">
                                    <!--Row 1 -->
                                    <div></div>
                                    <!--Row 2 -->Lorem ipsum
                                    <!--Row 3 -->
                                    <div class="container_arrow_right">
                                        <div class="arrow-right_sm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="img_container_needs_row2_col1_blocx5">
                            <img src="https://placehold.co/162x180/png" alt=""
                                class="img_content_needs_row2_col1_blocx5">
                            <div class="container_label">
                                <div class="txt_on_image_sm_mobile">
                                    <!--Row 1 -->
                                    <div></div>
                                    <!--Row 2 -->Lorem ipsum
                                    <!--Row 3 -->
                                    <div class="container_arrow_right">
                                        <div class="arrow-right_sm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="needs_row3_blocx5">
                <a href="#">
                    <div class="img_container_needs_row3_blocx5">
                        <img src="https://placehold.co/335x180/png" alt="" class="img_content_needs_row3_blocx5">
                        <div class="container_label">
                            <div class="txt_on_image">
                                <!--Row 1 -->
                                <div></div>
                                <!--Row 2 -->Un pot de départ
                                <!--Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="all_needs_desktop">
            <div class="all_needs_col_1">
                <a href="#">
                    <div class="all_needs_col_1_container">
                        <img src="https://placehold.co/324x640/png"
                            alt="" class="all_needs_col_1_content">
                        <div class="container_label">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 -->
                            <div class="txt_on_image adjust">Lorem ipsum
                                <!-- Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="all_needs_col_2">
                <a href="#">
                    <div class="all_needs_col_2_row_1_container">
                        <img src="https://placehold.co/322x270/png"
                            alt="" class="all_needs_col_2_row_1_content">
                        <div class="container_label">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 -->
                            <div class="txt_on_image adjust">Lorem ipsum
                                <!-- Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="all_needs_col_2_row_2_container">
                        <img src="https://placehold.co/322x350/png" alt="" class="all_needs_col_2_row_2_content">
                        <div class="container_label">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 -->
                            <div class="txt_on_image adjust">Lorem ipsum
                                <!-- Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="all_needs_col_3">
                <a href="#">
                    <div class="all_needs_col_2_row_1_container">
                        <img src="https://placehold.co/322x350/png" alt="" class="all_needs_col_2_row_1_content">
                        <div class="container_label">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 -->
                            <div class="txt_on_image adjust">Lorem ipsum
                                <!-- Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="all_needs_col_2_row_2_container">
                        <img src="https://placehold.co/322x270/png"
                            alt="" class="all_needs_col_2_row_2_content">
                        <div class="container_label">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 -->
                            <div class="txt_on_image adjust">Lorem ipsum
                                <!-- Row 3 -->
                                <div class="container_arrow_right">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>