<style>
    .text_banner {
    background: #EDE8FF;
    padding: 30px;
    text-align: center;
}
.custom-highlight-span {
    font-family: 'Sofia Pro Bold';
    /* font-family: "MarionnaudParis RegularItalic"; optionnel */
    letter-spacing: 0px;
    font-size: inherit;
    /* font-size: 17px; optionnel  */
}
.text_banner p {
    text-align: center;
}
@media (min-width:769px){
    .text_banner {
        background: #EDE8FF;
        padding: 30px;
    }
}
</style>
<section class="section_5">
    <div class="text_banner">
        <h2 class="h2_title">HTML Bandeau : Lorem ipsum dolor, <span class="highlight-2 custom-highlight-span">consectetur adipi</span></h2>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, omnis molestiae architecto earum exercitationem</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi asperiores nisi officia architecto expedita in distinctio voluptatibus, quidem quia vel deserunt, consequuntur ipsum. Voluptatem laborum sint qui accusamus cumque repellat.</p>
    </div>
</section>