<style>
.bloc_acces_rapides_bg {
    background-color: #FFFCF3;
}
.content_bloc_acces_rapides_bg {
    padding: 20px 0 20px 0;
}
.hr_desktop, .hr_desktop-v2, .hr_desktop-bold-center {
    display: none;
}
.CTA_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
}
@media (min-width: 769px){
    .content_bloc_acces_rapides_bg {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .hr_desktop-bold-center {
        display: block;
        width: 10%;
        height: 3px;
        background: black;
    }
    .CTA_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        overflow-x: hidden;
    }
}
</style>
<section class="section_6">
    <div class="bloc_acces_rapides_bg">
        <div class="content_bloc_acces_rapides_bg">
            <h2 class="h2_title">BLOC ACCÈS RAPIDES <br class="br_">Lorem ipsum dolor sit amet <span
                    class="highlight">zefbzeozf.</span></h2>
            <hr class="mobile">
            <hr class="desktop">
            <div class="CTA_list">
                <a href="#">
                    <div class="CTA_acces_rapides">
                        Lorem ipsum
                    </div>
                </a>
                <a href="#">
                    <div class="CTA_acces_rapides">
                        Lorem ipsum
                    </div>
                </a>
                <a href="#">
                    <div class="CTA_acces_rapides">
                        Lorem ipsum
                    </div>
                </a>
                <a href="#">
                    <div class="CTA_acces_rapides">
                        Lorem ipsum
                    </div>
                </a>
                <a href="#">
                    <div class="CTA_acces_rapides">
                        Lorem ipsum
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>