<style>
    .main_blocx4_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.small_descr p {
    font-family: "'MarionnaudParis TextBookItalic'";
    font-style: italic;
    font-size: 16px;
    text-align: center;
}
.blocx4_row_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.blocx4_row_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}
.img_container_bloc_8_col1 {
    margin-right: 1em;
}
.container_label {
    display: flex;
    justify-content: center;
}
.txt_on_image_sm {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -5.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    height: 4em;
    width: 12em;
}
.arrow-right {
    display: flex;
    width: 13px;
    height: 13px;
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    transform: rotate(135deg);
}
@media (min-width: 769px){
    .small_descr p {
        font-size: 20px;
    }
    .blocx4_container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 1024px;
    }
    .blocx4_row_2 {
        margin-top: 0em;
        width: 100%;
    }
}
</style>
<section class="section_2">
    <h2 class="h2_title">Carrousel BloxN : Lorem ipsum dolor sit amet,<br><span class="highlight"> consectetur adipi
        </span></h2>
    <hr class="mobile">
    <hr class="desktop">
    <div class="small_descr">
        <p>Lorem ipsum dolor.</p>
    </div>
    <div class="main_blocx4_container">
        <div class="blocx4_container">
            <div class="blocx4_row_1">
                <div class="img_container_bloc_8_col1">
                    <img src="https://via.placeholder.com/165x240.png" alt="" class="img_content_bloc_8_col1">
                    <div class="container_label">
                        <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                            <!-- Row 3 -->
                            <div class="container_arrow_right">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img_container_bloc_8_col1">
                    <img src="https://via.placeholder.com/165x240.png" alt="" class="img_content_bloc_8_col1">
                    <div class="container_label">
                        <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                            <!-- Row 3 -->
                            <div class="container_arrow_right">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blocx4_row_2">
                <div class="img_container_bloc_8_col1">
                    <img src="https://via.placeholder.com/165x240.png" alt="" class="img_content_bloc_8_col1">
                    <div class="container_label">
                        <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                            <!-- Row 3 -->
                            <div class="container_arrow_right">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img_container_bloc_8_col1">
                    <img src="https://via.placeholder.com/165x240.png" alt="" class="img_content_bloc_8_col1">
                    <div class="container_label">
                        <div class="txt_on_image_sm" style="text-transform:none; margin-left: -.5em;">
                            <!-- Row 1 -->
                            <div></div>
                            <!-- Row 2 <span style="text-transform:none;">e</span>-->Lorem ipsum
                            <!-- Row 3 -->
                            <div class="container_arrow_right">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>